<div id="mainform" data-role="page" is="page">
    <div role="main" class="ui-content" is="content">
        <a class="ui-btn" href="#addpage">Добавить</a>
        <a class="ui-btn" onclick="update();">Update</a>

        <div class="ui-field-contain">
            <label for="search">Поиск</label>
            <input type="text" name id="search">
        </div>
        <a class="ui-btn" href="#feedpage" onclick="doSearch();">Поиск</a>
        <ul data-role="listview" data-inset="true" data-divider-theme="b" id="posts">
            <div *ngFor="let post of posts">{{post.posttitle}}<br/>{{post.posttext}}<br/><a href={{post.postlink}}>link</a><hr></div>
        </ul>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>